# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Python virtual environment
venv/
env/

# Logs
*.log

# Local development configuration
instance/

# IDE files
.vscode/
.idea/

# Dependency directories
lib/
bin/
include/

# Compiled Python files
*.pyc



*.png
*.jpg

